#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
  border-radius: 10px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper.swiper-initialized{
    position: relative;
/* padding: 0 80px; */
  }
  .swiper-button-next{
    background-color: rgb(200, 200, 200);
    border-radius: 100%;
    width: 44px;
    height: 44px;
  }
  .swiper-button-prev{
    background-color: rgb(200, 200, 200);
    border-radius: 100%;
    width: 44px;
    height: 44px;
  }
  
  